<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://cdn.tailwindcss.com"></script>
            <title>Local Server</title>
            <style>
                input[type="text"],
                input[type="password"],
                textarea {
                    border: none;
                    outline: none;
                    border-bottom: 2px solid white;
            }
            </style>
        </head>
        <body style="background-color: #FFFFFF">
            <div class="flex flex-col items-center text-white">
                <div style="font-family: 'Lexend'; color: #383838" class="pt-20 text-4xl">
                    Cari Data
                </div>
                <div class="pt-10 px-10">
                    <form action="" method="POST" enctype="multipart/form-data">
                        <input type="text" id="searchFile" name="searchFile" style="background-color: #FFFFFF; border: 2px solid #000; color: #000; padding: 3px 10px;" class="border-b-4 rounded-md" size="50">
                        <button type="Submit" class="ml-2 h-8 text-justify rounded-md p-1 bg-neutral-200 text-black">Search</button>
                    </form>
                </div>
                <div class="p-3 text-2xl" style="font-family: 'Comic Sans MS';">
                    Result Search for {}
                </div>
                <div class="p-5"s style="color: #000 ">
                    <table class="table-auto">
                        <thead>
                            <tr>
                                <th class="px-4 py-2">No</th>
                                <th class="px-4 py-2">Nama</th>
                                <th class="px-4 py-2">NIM</th>
                                <th class="px-4 py-2">Jurusan</th>
                                <th class="px-4 py-2">Angkatan</th>
                                <th class="px-4 py-2">Kontak</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="border px-4 py-2">1</td>
                                <td class="border px-4 py-2">Muhammad Rafly Arjasubrata</td>
                                <td class="border px-4 py-2">1301213488</td>
                                <td class="border px-4 py-2">S1 Informatika</td>
                                <td class="border px-4 py-2">2021</td>
                                <td class="border px-4 py-2">raflyarj</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="border px-4 py-2">2</td>
                                <td class="border px-4 py-2">Luthfi Novra</td>
                                <td class="border px-4 py-2">1301213454</td>
                                <td class="border px-4 py-2">S1 Informatika</td>
                                <td class="border px-4 py-2">2021</td>
                                <td class="border px-4 py-2">luthfinovra</td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td class="border px-4 py-2">3</td>
                                <td class="border px-4 py-2">Anggara Abdul Rahim</td>
                                <td class="border px-4 py-2">1301210567</td>
                                <td class="border px-4 py-2">S1 Informatika</td>
                                <td class="border px-4 py-2">2021</td>
                                <td class="border px-4 py-2">anggaraash</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </body>
        </html>